main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
main section {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 2em;
    border-radius: 0.5em;
}
h2, p {
    color: white;
    background-color: #222222;
}