<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <section >
        <h2>Aledrogo</h2>
        <ul>
            <li><a href="/RandomSite">O nas</a></li>
            <li><a href="/RandomSite">Aledrogo Share</a></li>
            <li><a href="/RandomSite">Reklama</a></li>
            <li><a href="/RandomSite">Aledrogo Ads</a></li>
            <li><a href="/RandomSite">Praca w Aledrogo</a></li>
        </ul>
    </section>
    <section>
        <h2>Centrum Pomocy</h2>
        <ul>
            <li><a href="/RandomSite">Pomoc dla kupujących</a></li>
            <li><a href="/RandomSite">Aktualności dla kupujących</a></li>
            <li><a href="/RandomSite">Spytaj Społeczność</a></li>
            <li><a href="/RandomSite">Dla kupujących</a></li>
            <li><a href="/RandomSite">Pomoc dla sprzedających</a></li>
            <li><a href="/RandomSite">Sprzedawaj na Aledrogo</a></li>
        </ul>
    </section>
</footer>
</body>
</html>