<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dostawy</title>
    <link rel="stylesheet" th:href="@{/CSS/General.css}" href="../../static/CSS/General.css">
    <link rel="stylesheet" th:href="@{/CSS/History.css}" href="../../static/CSS/History.css">
</head>
<body>
<header th:replace="~{fragments/Standard_header :: header}">
    <h1>Aledrogo</h1>
</header>
<main>
    <ul>
        <li th:each="delivery: ${allDeliveries}" >
            <p>ID zamówienia: <span th:text="${delivery.getId}"></span></p>
            <p>Nazwa produktu: <span th:text="${delivery.getProduct.getName()}"></span></p>
            <p>Czy dostarczono: <span th:text="${delivery.getProduct.isIfDelivered()}"></span></p>
            <p></p>
        </li>
    </ul>
</main>
<footer th:replace="~{fragments/Standard_footer :: footer}">

</footer>
</body>
</html>